<div class="container p-5">
    <header>
        <h1 class="h2">Dados do seu Perfil!</h1>
        <p>
            Matenha seus dados sempre atualizados.
        </p>
    </header>
    <form class="mt-5">
        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="nome">Seu Nome</label>
                    <input class="form-control form-control-lg" id="nome" type="text" placeholder="Nome completo">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label class="sr-only" for="telefone">Telefone</label>
                <input class="form-control form-control-lg" id="telefone" type="text" placeholder="Telefone">
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="cpf">CPF</label>
                    <input class="form-control form-control-lg" id="cpf" type="text" placeholder="Seu CPF">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="email">E-mail</label>
                    <input class="form-control form-control-lg" id="email" type="email" placeholder="E-mail">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label class="sr-only" for="cep">CEP</label>
                    <input class="form-control form-control-lg" id="cep" type="text" placeholder="CEP">
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="form-group">
                    <label class="sr-only" for="endereco">Endereço</label>
                    <input class="form-control form-control-lg" id="endereco" type="text" placeholder="Endereço">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label class="sr-only" for="numero">Numero</label>
                    <input class="form-control form-control-lg" id="numero" type="text" placeholder="Número">
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="form-group">
                    <label class="sr-only" for="complemento">Complemento</label>
                    <input class="form-control form-control-lg" id="complemento" type="text" placeholder="Complemento">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <h2 class="h2 py-5">Dados Fiscais</h2>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="nomeF">Nome</label>
                    <input class="form-control form-control-lg" id="nomeF" type="text" placeholder="Nome">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="cpfF">CPF</label>
                    <input class="form-control form-control-lg" id="cpfF" type="text" placeholder="CPF">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label class="sr-only" for="cepF">CEP</label>
                    <input class="form-control form-control-lg" id="cepF" type="text" placeholder="CEP">
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="form-group">
                    <label class="sr-only" for="enderecoF">Endereco</label>
                    <input class="form-control form-control-lg" id="enderecoF" type="text" placeholder="Endereço">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label class="sr-only" for="numeroF">Numero</label>
                    <input class="form-control form-control-lg" id="numeroF" type="text" placeholder="Número">
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="form-group">
                    <label class="sr-only" for="complementoF">Complemento</label>
                    <input class="form-control form-control-lg" id="complementoF" type="text" placeholder="Complemento">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-5">
                <div class="form-group">
                    <label class="sr-only" for="bairroF">Bairro</label>
                    <input class="form-control form-control-lg" id="bairroF" type="text" placeholder="Bairro">
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="form-group">
                    <label class="sr-only" for="cidadeF">Cidade</label>
                    <input class="form-control form-control-lg" id="cidadeF" type="text" placeholder="Cidade">
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="form-group">
                    <label class="sr-only" for="estadoF">Estado</label>
                    <input class="form-control form-control-lg" id="estadoF" type="text" placeholder="Estado">
                </div>
            </div>
        </div>
        <button class="btn btn-lg btn-block btn-primary" type="submit">Atualizar Cadastro</button>
        <div class="col-12">
            <p class="text-center py-4">
                Entre em contato pelo telefone <strong class="text-primary">(21) 2491-6448</strong>. Ou pelo email:
                <strong class="text-primary">faleconosco@nicephotos.com.br</strong>. Atendimento de segunda a sexta de
                9h às 18h (exceto feriados).
            </p>
        </div>
    </form>
</div>