<div class="container p-5">

    <main>
        <h1 class="h2 text-center">Termos de Serviço</h1>
        <h2 class="h4 text-center mb-5">CONTRATO DE PRESTAÇÃO DE SERVIÇOS ONLINE</h2>
        <p><strong>"Nicephotos" PIXEL HOUSE SOLUÇÕES EM IMAGENS LTDA</strong>., sociedade limitada com sede à R.
            Equador,
            nº456, cep 20220-410, na Cidade do Rio de Janeiro, RJ, inscrita no CNPJ/MF sob o nº 06.251.204/0001-81
            ("Nicephotos"), e seus clientes online ("USUÁRIOS"), ora ajustam os termos e condições que regem a
            prestação,
            por Nicephotos, de serviços online de impressão e compartilhamento de imagens digitais (os "SERVIÇOS
            Nicephotos")</p>
    </main>

    <section class="my-5">
        <h3 class="h5">1. OBJETO</h3>
        <p>1.1. O objeto do Contrato é o estabelecimento das condições mediante as quais o USUÁRIO utilizará os SERVIÇOS
            Nicephotos no site <a href="https://www.nicephotos.com.br" target="_blank"
                alt="Site Nicephotos">https://www.nicephotos.com.br</a> ("SITE").</p>
        <p>1.2. Será qualificado como “USUÁRIO” todo aquele que preencher o cadastro na forma do item 2 abaixo.</p>
    </section>

    <section class="my-5">
        <h3 class="h5">2. CADASTRO DO USUÁRIO</h3>
        <p>2.1. Para a utilização de qualquer serviço disponibilizado no SITE, o USUÁRIO deverá fornecer todos os dados
            pessoais solicitados nos campos de preenchimento obrigatório da página de cadastro do SITE ("CADASTRO"). Ao
            cadastrar-se, o USUÁRIO fornecerá informações verdadeiras, atualizadas e completas, declarando-se plenamente
            ciente de que a utilização indevida de dados de terceiros ou o fornecimento de informações falsas poderá
            caracterizar a prática de ilícitos penais e civis, sujeitando o infrator às penalidades previstas em lei.
        </p>
        <p>2.2. O USUÁRIO obriga-se a manter todos os seus dados cadastrais devidamente atualizados, bem como a atender
            as
            solicitações de atualização do CADASTRO, sempre que requisitado pelo Nicephotos.</p>
        <p>2.3. O Nicephotos poderá utilizar os meios que entender necessários para, a qualquer momento, averiguar a
            veracidade das informações prestadas. Em sendo identificada qualquer irregularidade nos dados fornecidos
            pelo
            USUÁRIO, o Nicephotos poderá suspender imediatamente os serviços prestados aquele USUÁRIO, até que o
            respectivo
            cadastro seja devidamente corrigido pelo USUÁRIO e aceito pelo Nicephotos.</p>
        <p>2.4. Ao cadastrar-se, o USUÁRIO deverá registrar sua senha de acesso aos SERVIÇOS Nicephotos objeto deste
            Contrato, a qual poderá ser posteriormente alterada, a qualquer tempo, mediante o fornecimento e confirmação
            dos
            dados no CADASTRO.</p>
        <p>2.5. <strong>A SENHA É PESSOAL E INTRANSFERÍVEL E, PORTANTO, NÃO DEVE SER DIVULGADA pelo USUÁRIO A TERCEIROS.
                CASO TENHA MOTIVOS PARA ACREDITAR QUE TERCEIROS TIVERAM ACESSO À SUA SENHA, O USUÁRIO DEVERÁ
                IMEDIATAMENTE
                PROVIDENCIAR A SUA MODIFICAÇÃO. O USUÁRIO É O ÚNICO E EXCLUSIVO RESPONSÁVEL POR DANOS E PREJUÍZOS
                DECORRENTES DA UTILIZAÇÃO DE SUA SENHA, SEJA POR SI OU POR INTERPOSTA PESSOA, AUTORIZADA OU NÃO, E A QUE
                TÍTULO FOR.</strong></p>
        <p>2.6. O USUÁRIO poderá autorizar o Nicephotos a: (i) compartilhar as informações de seu cadastro com empresas
            e/ou
            sites que com ele mantenham relação comercial e cujo acesso a tais informações seja importante para o
            desenvolvimento e/ou manutenção dos SERVIÇOS Nicephotos, desde que tais parceiros e empresas aceitem
            integralmente o mesmo compromisso de sigilo e confidencialidade assumido por Nicephotos perante seus
            Usuários;
            (ii) utilizar arquivos temporários ("cookies") para a identificação dos Usuários; e (iii) enviar e-mails
            para o
            endereço eletrônico informado pelo USUÁRIO no ato de cadastramento no SITE. Os e-mails encaminhados pelo
            Nicephotos que tenham caráter técnico ou informativo não estarão sujeitos à recusa do USUÁRIO. O Nicephotos
            poderá também entrar em contato com o USUÁRIO por telefone, a qualquer dia e hora, especificamente para
            solucionar questões técnicas referentes à prestação dos SERVIÇOS Nicephotos.</p>
    </section>

    <section class="my-5">
        <h3 class="h5">3. OS SERVIÇOS Nicephotos</h3>
        <p>3.1. Os SERVIÇOS Nicephotos consistem em:</p>
        <p>3.1.1. Imprimir, armazenar e permitir o compartilhamento de imagens digitalizadas enviadas pelo USUÁRIO, nos
            fomatos JPEG, JPG, JPE e outros que vierem a ser publicados no SITE.</p>
    </section>

    <section class="my-5">
        <h3 class="h5">4. DA IMPRESSÃO E ENTREGA DAS FOTOGRAFIAS AO USUÁRIO</h3>
        <p>4.1. O Nicephotos obriga-se a :</p>
        <p>4.1.1. Permitir ao USUÁRIO enviar imagens digitalmente ao SITE, escolhendo as fotos que desejar para
            impressão e
            compartilhamento, sendo o pagamento realizado mediante cartão de crédito, cartão pré - pago com número PIN
            ou
            qualquer meio de pagamento disponibilizado no SITE;</p>
        <p>4.1.2. A entrega do produto em domicílio será realizada por portador, no horário das 8h. às 20h., mediante
            protocolo devidamente assinado por responsável no endereço especificado para a entrega.</p>
        <p>4.1.3. Serão feitas, no máximo, 3 (três) tentativas de entrega. Caso não seja possível realizar a entrega do
            produto em razão da ausência de responsável para a assinatura do protocolo, ou por qualquer outro motivo
            independente da operação do Nicephotos, após a terceira tentativa, o pedido do USUÁRIO retornará ao endereço
            do
            remetente e aguardará um novo contato do USUÁRIO para nova confirmação do endereço de entrega.</p>
        <p>4.1.4. O Nicephotos não se responsabiliza pela má-impressão das fotos decorrentes de falha técnica do
            equipamento
            do USUÁRIO ou da imperícia do USUÁRIO no momento da utilização do equipamento.</p>
        <p>4.1.5. As fotos enviadas para o Nicephotos sofrerão um "resize" no seu tamanho original de modo a otimizar o
            envio e armazenamento das fotos. Este resize não influi no resultado final dos formatos e produtos de
            impressão
            disponíveis no site Nicephotos.</p>
    </section>

    <section class="my-5">
        <h3 class="h5">5. SUPORTE TÉCNICO</h3>
        <p>5.1. O Nicephotos oferecerá serviço de suporte técnico gratuito, exclusivamente por e-mail, com o objetivo de
            auxiliar o USUÁRIO na solução de problemas relacionados ao acesso ao SITE (instrumento de "autenticação"),
            ao
            CADASTRO (apenas para usuário em processo de cadastramento), e quaisquer dúvidas referentes aos SERVIÇOS
            Nicephotos;</p>
        <p>5.2 Ao utilizar o suporte técnico, o USUÁRIO obriga-se a empregar linguagem adequada e termos que não sejam
            de
            forma alguma ameaçadores, obscenos, difamatórios, pejorativos, ou injuriosos, nem discriminatório em relação
            à
            raça, cor, credo ou nacionalidade do operador do suporte técnico, sob pena de rescisão imediata do Contrato,
            sem
            prejuízo de todas as demais medidas cabíveis.</p>
        <p>5.3. A RESPONSABILIDADE do Nicephotos QUANTO AO SUPORTE TÉCNICO LIMITA-SE A EMPREENDER OS MELHORES ESFORÇOS
            COM
            VISTAS AO ATENDIMENTO SATISFATÓRIO DAS PERGUNTAS E DÚVIDAS DO USUÁRIO REFERENTES AO OBJETO DESTE CONTRATO. O
            Nicephotos NÃO SE RESPONSABILIZA PELA SOLUÇÃO DAS REFERIDAS DÚVIDAS E PERGUNTAS NO MOMENTO DA CONSULTA AO
            SERVIÇO.</p>
    </section>

    <section class="my-5">
        <h3 class="h5">6. PRAZO DO CONTRATO</h3>
        <p>6.1. O presente Contrato tem vigência e eficácia por prazo indeterminado a contar da data da conclusão do
            CADASTRO e poderá ser rescindido por qualquer das Partes nos termos dos itens 7 e 9 abaixo.</p>
    </section>

    <section class="my-5">
        <h3 class="h5">7. DAS OBRIGAÇÕES DO USUÁRIO</h3>
        <p>7.1. Constitui obrigação do USUÁRIO:</p>
        <p>7.1.1. Não enviar fotografias que contenham conteúdo nu, pornográfico, discriminatório, profano, ofensivo,
            que
            atentem contra moral, a ética e aos bons costumes; o Nicephotos, ao seu exclusivo critério, poderá
            classificar o
            conteúdo como tal, reservando-se o direito de não realizar as impressões das imagens solicitadas e
            excluí-las de
            sua base de dados. Esta medida é feita para segurança e precaução de possíveis incidentes, já que nosso
            processo
            envolve empresas terceiras para transporte e entrega de pedidos.</p>
        <p>7.1.2. Fornecer informações verdadeiras e manter seus dados cadastrais devidamente atualizados e completos,
            comunicando o Nicephotos sempre que houver qualquer alteração.</p>
        <p>7.1.3. Não transmitir ou divulgar material ilegal, difamatório, ameaçador, obsceno, prejudicial, injurioso ou
            praticar atos que possam ser considerados discriminatórios em relação a qualquer raça, cor, credo ou
            nacionalidade;</p>
        <p>7.1.4. Não atentar contra o direito de personalidade e intimidade de terceiros divulgando imagens que causem
            ou
            possam causar qualquer espécie de constrangimento ou danos à reputação de tais pessoas;</p>
        <p>7.1.5. Não compartilhar, difundir, transmitir ou colocar à disposição de terceiros quaisquer imagens que
            violem
            segredo industrial e/ou sigilo de dados;</p>
        <p>7.1.6. Não transmitir qualquer material cujo conteúdo viole direitos de propriedade intelectual e de imagens
            do
            Nicephotos e/ou de terceiros;</p>
        <p>7.1.7. Não transmitir, dolosa ou culposamente, arquivos contendo vírus ou que de qualquer forma possam
            prejudicar
            os programas ou equipamentos do Nicephotos e/ou de terceiros;</p>
        <p>7.1.8. Quaisquer fins ilegais, mediante transmissão ou obtenção de material em desacordo com a legislação
            brasileira, materiais que atentem contra a ordem pública, ou ainda, que caracterizem prática tipificada como
            crime, exemplificadamente, material relacionado ao tráfico de drogas e/ou pedofilia;</p>
        <p>7.1.9. Caso permita o compartilhamento de sua senha e/ou acesso com terceiros, assumir integral
            responsabilidade
            pelas ações e omissões praticadas por tais terceiros;</p>
        <p>7.1.10. Assumir integral responsabilidade por todos os efeitos decorrentes de quaisquer alegações por
            quaisquer
            terceiros, de violação de direitos e eventuais danos ou prejuízos decorrentes do descumprimento de quaisquer
            de
            suas obrigações nos termos deste Contrato, isentando o Nicephotos, seus sócios, empregados e contratados de
            qualquer responsabilidade decorrente de tais alegações, inclusive quanto a cópias e retransmissões de
            imagens
            por tais terceiros sem o conhecimento ou consentimento do USUÁRIO;</p>
        <p>7.1.11. <strong>O USUÁRIO DEVE PRESERVAR SEMPRE SUAS IMAGENS ORIGINAIS OU EFETUAR UMA CÓPIA (BACK-UP) EM SEU
                SISTEMA PESSOAL OU EM MÍDIAS DIGITAIS DE SUA RESPONSABILIDADE. O SERVIÇO Nicephotos NÃO DEVE SER
                UTILIZADO,
                EM NENHUMA HIPÓTESE, PARA ARMAZENAMENTO DE SEUS ARQUIVOS PESSOAIS.</strong></p>
    </section>

    <section class="my-5">
        <h3 class="h5">8. MODIFICAÇÃO NOS TERMOS E CONDIÇÕES</h3>
        <p>8.1. O Nicephotos poderá modificar os termos e condições a qualquer tempo, por qualquer razão e sem
            comunicação
            prévia, incluindo a extinção do serviço ou parte dos serviços, devendo o USUÁRIO consultar esta página
            periodicamente.</p>
        <p>8.2. O Nicephotos poderá oferecer serviços adicionais aos ora previstos, onerosos ou gratuitos, mediante a
            celebração com o USUÁRIO de termo aditivo a este Contrato.</p>
        <p>8.3. O serviço de armazenamento poderá ser limitado a qualquer tempo, mediante notificação prévia ao USUÁRIO.
        </p>
    </section>

    <section class="my-5">
        <h3 class="h5">9. ARMAZENAMENTO DAS FOTOS</h3>
        <p>9.1. O serviço de armazenamento fotos será limitado a 6 meses. Sempre que uma foto completar 6 meses após o
            envio
            (upload) para o site, ou um projeto completar 6 meses de criado, estará apto para deleção do site. O SITE
            comunicará previamente à deleção de fotos e projetos ao usuário.</p>
    </section>

    <section class="my-5">
        <h3 class="h5">10. CANCELAMENTO DE CONTA (RESCISÃO DE CONTRATO)</h3>
        <p>10.1. O presente Contrato poderá ser rescindido por qualquer das Partes a qualquer tempo, desde que notifique
            a
            outra Parte, por e-mail, com 30 (trinta) dias de antecedência.</p>
        <p>10.2. <strong>O Nicephotos poderá rescindir o Contrato a qualquer tempo e sem comunicação prévia no caso de
                descumprimento contratual por parte do USUÁRIO.</strong></p>
    </section>

    <section class="my-5">
        <h3 class="h5">11. DISPOSIÇÕES GERAIS</h3>
        <p>11.1. O Contrato é regido pelas leis da República Federativa do Brasil e as Partes elegem o Foro Central da
            Comarca do Estado do Rio de Janeiro para dirimir quaisquer controvérsias dele decorrentes.</p>
    </section>

</div>