<div class="container p-5">

    <main>
        <h1 class="h2 text-center mb-5">Política de privacidade</h1>
        <p>Quando você realiza uma compra ou contrata um serviço na Nicephotos ou nas empresas do nosso grupo econômico,
            você nos fornece alguns dados pessoais com o objetivo de viabilizar a sua operação. A nicephotos preza pela
            segurança dos seus dados, pelo respeito a sua privacidade e pela transparência com você e, por isso,
            dedicamos
            este documento para explicar como os seus dados pessoais serão tratados pela Nicephotos e quais são as
            medidas
            que aplicamos para mantê-los seguros.</p>
        <p>A PIXEL HOUSE SOLUÇÕES EM IMAGENS LTDA (Nicephotos) estabeleceu esta política como parte de um conjunto de
            ações
            que têm por objetivo respeitar sua privacidade e reservar o direito ao sigilo de identidade de cada usuário.
            A
            presente Política de Privacidade e Segurança de Dados (“Política de Privacidade”) contém diretrizes e
            informações sobre como a Nicephotos trata e protege as informações obtidas por meio de seu site e será
            regida
            pelas condições que seguem.</p>
    </main>

    <section class="my-5">
        <h2 class="h5">1. DEFINIÇÕES</h2>
        <p>Para os fins desta Política de Privacidade, aplicam-se as seguintes definições:</p>
        <p>1.1. Cookie</p>
        <p>É um arquivo-texto enviado pelo servidor do site para o computador do usuário, com a finalidade de
            identificar o
            computador, personalizar os acessos do usuário e obter dados de acesso, como páginas navegadas ou links
            clicados. Um cookie é atribuído individualmente a cada computador, ele não pode ser usado para executar
            programas nem infectar computadores com vírus e pode ser lido apenas pelo servidor que o enviou. O cliente
            pode
            desabilitar o salvamento de cookies em seu browser, deletá-los e gerenciar sua utilização por meio da
            configuração do navegador que utiliza para acessar nossos sites.</p>
        <p>1.2. Remarketing:</p>
        <p>É um recurso com o qual um anunciante (no caso a Nicephotos) pode alcançar as pessoas que visitaram seu site
            anteriormente e exibir anúncios relevantes em toda a Web ou quando um site de pesquisa na internet for
            utilizado.</p>
        <p>1.3. Identificação individual:</p>
        <p>Toda informação que não está disponível para o público em geral, e que, se divulgada, possa vir a causar
            algum
            tipo de constrangimento moral, danos ou prejuízos à própria pessoa. São exemplos de dados de identificação
            individual os números de RG, CPF, número de telefone, dados para contato e dados sobre cobrança.</p>
        <p>1.4. Site:</p>
        <p>São os domínios/endereços de internet de propriedade da Nicephotos.</p>
        <p>1.5. Usuário:</p>
        <p>Todas as pessoas que de alguma forma acessam o site, clientes ou não.</p>
    </section>

    <section class="my-5">
        <h2 class="h5">2. OBRIGAÇÕES</h2>
        <p>A Nicephotos se compromete a:</p>
        <p>2.1. Coletar em seu site apenas as informações sobre identificação individual necessárias à viabilização de
            seus negócios e ao fornecimento de produtos e/ou serviços solicitados pelos usuários;</p>
        <p>2.2. A utilização de cookies se dá para proporcionar uma melhor experiência em nosso site e viabilizar
            recursos personalizados como publicidades e informações adicionais de itens do interesse do cliente em nosso
            site ou em terceiros, por exemplo;</p>
        <p>2.3. Cumprir rigorosamente todas as determinações desta Política de Privacidade;</p>
        <p>2.4. A Nicephotos não será responsável por quaisquer perdas de dados do usuário, inclusive decorrentes de
            caso fortuito, força maior, ocorridas em virtude de invasões ao site e quebra de segurança por parte de
            terceiros não autorizados;</p>
        <p>2.5 Dados referente a pagamento nunca serão salvos pela Nicephotos.</p>
    </section>

    <section class="my-5">
        <h2 class="h5">3. UTILIZAÇÃO DAS INFORMAÇÕES</h2>
        <p>3.1. Dentre outras, as informações obtidas por meio do site serão utilizadas pela Nicephotos com a finalidade
            de:</p>
        <p>Em caso de dúvidas relativas à Política de Privacidade, contate a Central de Atendimento do Nicephotos
            através do e-mail e/ou telefones indicados na área “Atendimento” deste site.</p>
        <p>a) Viabilizar a produção e o fornecimento de produtos ou serviços solicitados no site;</p>
        <p>b) Identificar o perfil, desejos ou necessidades dos usuários, a fim de aprimorar os produtos e/ou serviços
            oferecidos;</p>
        <p>c) Enviar informativos sobre produtos ou serviços que interessem aos seus usuários;</p>
        <p>d) Divulgar alterações, inovações ou promoções sobre os produtos e serviços da empresa Nicephotos e de seus
            parceiros.</p>
        <p>3.2. Utilizamos em nosso site recursos de campanhas de publicidades baseadas em interesses, listas de
            remarketing, informações demográficas e de local de destino. Nossas campanhas de publicidade não associam
            identificações individuais a listas de remarketing, cookies, dados de feeds ou outros identificadores
            anônimos.</p>
        <p>3.3. As informações de identificação individual não são compartilhadas com nenhum site ou parceiro por meio
            da tag de remarketing ou qualquer feed de dados que possam estar associados aos nossos anúncios.</p>
    </section>

    <section class="my-5">
        <h2 class="h5">4. DIVULGAÇÃO DE DADOS</h2>
        <p>A Nicephotos não fornece a terceiros dados sobre a identificação individual de usuários, sem seu prévio
            consentimento, exceto nos casos em que:</p>
        <p>4.1. Haja determinação judicial para fornecimento de dados;</p>
        <p>4.2. A viabilização dos negócios e/ou serviços oferecidos pela Nicephotos dependa do repasse de dados a
            parceiros;</p>
        <p>4.3. Exista a necessidade de identificar ou revelar dados do usuário que esteja utilizando o seu site com
            propósitos ilícitos (intencionalmente ou não);</p>
        <p>4.4. Além dos casos acima citados, havendo a necessidade ou interesse em repassar a terceiros dados de
            identificação individual dos usuários, a Nicephotos solicitará autorização prévia;</p>
        <p>4.5. Terceiros que, porventura, receberem da Nicephotos informações, de qualquer natureza, sobre os usuários
            cabe, igualmente, a responsabilidade de zelar pelo sigilo e segurança das referidas informações.</p>
    </section>

    <section class="my-5">
        <h2 class="h5">5. O USUÁRIO É INTEGRALMENTE RESPONSÁVEL POR:</h2>
        <p>5.1. Zelar pelos dados de sua identificação digital individual sempre que acessar a Internet, informando-os
            apenas em operações em que exista a proteção de dados;</p>
        <p>5.2. Fornecer informações verídicas;</p>
        <p>5.3. Cumprir rigorosamente todas as determinações e procedimentos previstos nesta Política de Privacidade.
        </p>
    </section>

    <section class="my-5">
        <h2 class="h5">6. ALTERAÇÃO NA POLÍTICA DE PRIVACIDADE</h2>
        <p>A Nicephotos poderá alterar esta Política de Privacidade a qualquer momento, sendo que toda alteração na
            presente Política de Privacidade será veiculada neste espaço e comunicada por e-mail.</p>
    </section>

    <section class="my-5">
        <h2 class="h5">7. DÚVIDAS E SUGESTÕES</h2>
        <p>7.1. Caso haja qualquer dúvida ou sugestão sobre esta Política de Privacidade, escreva para:
            faleconosco@nicephotos.com.br.</p>
    </section>

    <section class="my-5">
        <h2 class="h5">8. AJUSTE OU REMOÇÃO DE CONTATO</h2>
        <p>8.1. A Nicephotos se compromete a respeitar a sua privacidade e é contra o spam. Por essa razão,
            compromete-se a: (i) não enviar e-mails promocionais sem seu expresso consentimento; (ii) cancelar o envio
            de e-mails promocionais sempre que solicitado; (iii) utilizar cookies (informações enviadas pelo site ao seu
            computador para identificá-lo) apenas para que o site possa reconhecê-lo quando realizar uma nova visita
            e/ou para oferecer alguma oferta especial. A aceitação do cookie não é necessária para visitar o site. O seu
            browser pode ser configurado para avisá-lo sempre que um cookie for oferecido ou para recusar todos os
            cookies.</p>
        <p>8.2 Após recolher qualquer informação de seus clientes, a Nicephotos oferece aos seus usuários a
            possibilidade de remover ou alterar suas informações salvas no site, bem como escolher não receber futuras
            promoções e/ou comunicados desta empresa ou de nossos parceiros. Para qualquer edição de suas informações e
            preferências, faça o login e acesse a página “meus dados”. O cancelamento das newsletters Nicephotos também
            pode ser efetivado através do link "cancelar recebimento" posicionado ao final de cada newsletter.</p>
    </section>
</div>